!!!
%html
  %head
    %title Screenshot Base Testing
    %link(rel="stylesheet" href="/css/common.css")
    %link(rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css")

  %body
    .pure-g-r
      .pure-u-1
        %h1= "Screenshot Base Testing"
      .pure-u-1-8
        %p= 'left'
      .pure-u-3-4
        =yield
      .pure-u-1-8
        %p= 'right'
